/* GENERAL */
body {
  min-height: 100vh;
  line-height: 1.25;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "eurostile", sans-serif;
}
body,
button,
input,
select,
textarea {
  font-family: "europa", sans-serif;
}
h1 {
  font-size: 8.5vw;
}
h2 {
  font-size: 7vw;
}
h1:hover {
  color: $bluePurple;
  transition: 400ms linear;
}

h2 {
  text-align: center;
  color: $bluePurple;
}
h3 {
  color: $bluePurple;
}
.titulos {
  font-size: 6vw;
}

.commonBorder {
  font-size: 18px;
  border: solid 2px $bluePurple;
  margin: 0.5rem;
  padding: 1rem 0 1rem 0;
  text-align: center;
  line-height: 1.2;
}
.boton {
  color: black;
  text-decoration: none;
  border: solid 2px $bluePurple;
  padding: 5px;
  margin: 2px;
  background-color: white;
}
