/* INDEX */
.mainTitle {
    font-size: 60px;
  }
  .contactameIndex {
    font-size: 30px;
    color: black;
    border: solid 2px #7c00ff;
    text-decoration: none;
    width: 100%;
    padding: 10px;
  }
  .contactameIndex:hover {
    color: #7c00ff;
  }