/* INDEX */
.contactameIndex {
  font-size: 30px;
  color: black;
  border: solid 2px $bluePurple;
  text-decoration: none;
  width: 100%;
  padding: 10px;
  margin-top: 2rem;
}
.contactameIndex:hover {
  background-color: $bluePurple;
  text-decoration: none;
  transition: 300ms linear;
  color: white;
}
