/* PROYECTOS */
.tamanoIframe {
  max-width: 100%;
  height: auto;
  margin: 0.2rem auto 0.5rem auto;
}

div {
  ul {
    li:hover {
      color: $bluePurple;
      transition: 150ms linear;
    }
  }
}
