/* PROYECTOS */
#gridProyectos {
    display: grid;
    grid-template-areas:
      "Titulo Titulo Titulo Titulo"
      "Desarrollo Javascript React Back";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: space-around;
    justify-items: center;
    margin: 10px;
  }
  h2 {
    grid-area: Titulo;
  }
  section#Desarrollo {
    grid-area: Desarrollo;
  }
  section#Javascrippt {
    grid-area: Javascript;
  }
  section#React {
    grid-area: React;
  }
  section#Back {
    grid-area: Back;
  }
  .tamanoIframe {
    max-width: 100%;
    height: auto;
    margin: 5px auto 20px auto;
  }