/* QUIEN SOY */
.fotoPersonal {
  width: 200px;
  margin: 10px;
}

fieldset {
  border: solid 2px $bluePurple;
  margin: 0.5rem;
  padding: 0.5rem;
}

legend {
  color: $bluePurple;
  margin: 0%;
  padding: 0%;
}
