/* RESPONSIVE*/

// /* DESKTOP STYLES */
// @media only screen and (min-width: 961px) {
//   #gridProyectos {
//     grid-template-areas:
//       "Titulo Titulo Titulo Titulo"
//       "Desarrollo Javascript React Back";
//   }
// }

// /* TABLET STYLES */
// @media only screen and (min-width: 401px) and (max-width: 960px) {
//   #gridProyectos {
//     grid-template-areas:
//       "Titulo Titulo "
//       "Desarrollo Javascript"
//       "React Back";
//   }
// }

// /* MOBILE STYLES */
// @media only screen and (max-width: 400px) {
//   #gridProyectos {
//     grid-template-areas:
//       "Titulo Titulo "
//       "Desarrollo Javascript"
//       "React Back";
//   }
// }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h1 {
    font-size: 2.2rem;
  }
  .tamanoIframe {
    max-width: 5rem;
    margin: 0.1rem auto 0.1rem auto;
  }
}
/* iPads ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  h1 {
    font-size: 8.4rem;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  h1 {
    font-size: 15rem;
  }
}
