$bluePurple: #7c00ff;
$customGrey: rgb(131, 131, 131);
$veryLightGrey: rgb(226, 226, 226);
$rosa:#f52ec0;
$celeste:#12c8dd;
$casiNegro:rgb(14, 13, 13);
$fuente1:'Bungee Shade', cursive;
$fuente2:'Inconsolata', monospace;
$fuente3:'Permanent Marker', cursive;